.listandimg{
    display: flex;
    align-items: center;
}
.listandimg img{
    margin: 10px auto;
    height: 100px;
    width: 100px;
    margin-left: 40px;
}
.MainDiv{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 40px;
    width: 80%;
    height: 80px;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
}
.listandimg ul{
    list-style-type: none;
    display: flex;
    margin-left: 20px;
    padding: 0;
}
.listandimg li{
    text-decoration: none;
    left: 100px;
    padding: 15px;
    border-radius: 15px;
}
.listandimg li:hover{
    background-color: rgb(234, 234, 234);
}
.ButtonDiv{
    display: flex;
    float: left;
}
.loginButton {
    border-radius: 15px;
    background-color: rgb(234, 234, 234);
    height: 60px;
    width: 80px;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
    

}
.loginButton:hover {
    background-color: rgb(210, 210, 210);
}

.ButtonDiv .signupButton {
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 60px;
    width: 150px;
    margin: 10px auto;
    margin-right: 10px;
    cursor: pointer;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.ButtonDiv .signupButton:hover{
    background-color: rgb(42, 42, 42);
}