<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Linktree" %></title>
<!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--    <meta name="apple-mobile-web-app-capable" content="yes">-->
<!--    <meta name="mobile-web-app-capable" content="yes">-->
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%#= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

<!--    <link rel="icon" href="/icon.png" type="image/png">-->
<!--    <link rel="icon" href="/icon.svg" type="image/svg+xml">-->
<!--    <link rel="apple-touch-icon" href="/icon.png">-->
    <%#= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "Homepage.jsx" %>
  </head>

  <body style="margin: 0; background-color: #9b9c9d">


<!--  <nav class="navbar bg-body-tertiary">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand" href="/">-->
<!--        <img src="https://images.icon-icons.com/3912/PNG/512/linktree_logo_icon_247832.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
<!--        LinkTree-->
<!--      </a>-->
<!--      <div class="d-flex">-->
        <%#=button_to "Login",new_session_path,class:"btn btn-outline-primary me-2", type:"button", method: :get unless authenticated?%>
        <%#=button_to "Register",session_register_path,class:"btn btn-outline-primary me-2", type:"button", method: :get unless authenticated?%>
        <%#=button_to "Logout",session_path,class:"btn btn-outline-primary me-2", type:"button", method: :delete if authenticated?%>
        <%#=button_to "Edit profile",new_user_detail_path,class:"btn btn-outline-primary me-2", type:"button", method: :get if authenticated?%>
        <%#= button_to "Create your tree", new_tree_path,class:"btn btn-outline-primary me-2", type:"button", method: :get if authenticated? and Current.user.tree.nil? %>
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<%= yield %>
  </body>
</html>
